*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}


.Home{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(10, 127, 137, 0.7),rgba(6, 14, 49, 0.7)), url('../img2/restau.png');
    background-size: cover; 
    background-position: center; 
    position: relative;
}


.nav-li{ 
    flex: 1;
    text-align: center;
}

.nav-li ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-li ul li a{
    color: #fff;
    text-decoration: none;
    font-size: large;
    
}

.nav-li ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-li ul li:hover::after{
    width: 100%;
}


.cave{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center  ;
} 

.cave h1{
    font-size: 62px;
}

.cave p{
    margin: 10px 0 40px;
    font-size:13px ;
    color: #fff ;
}

.about{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(10, 127, 137, 0.7),rgba(6, 14, 49, 0.7)), url('../img2/about.jpg');
    background-size: cover; 
    background-position: center; 
    position: relative;
}

.Services{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(10, 127, 137, 0.7),rgba(6, 14, 49, 0.7)), url('../img2/tm.jpg');
    background-size: cover; 
    background-position: center; 
    position: relative;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.r1{
    flex-basis: 31%;
    background: #8aacad;
    border-radius: 10px;
    margin-bottom: 0%;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
transition: 0.5s;
}

.Team{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(10, 127, 137, 0.7),rgba(6, 14, 49, 0.7)), url('../img2/tm.jpg');
    background-size: cover; 
    background-position: center; 
    position: auto;
}

.t{
    margin-top: 5%;      
    display: flex;
    justify-content: space-between;
}
   

.timg{
    flex-basis: 31%;
    background: #8aacad;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 1px;
    box-sizing: border-box;
    font-family: 'poppins', Arial, Helvetica, sans-serif;

} 
 



.contact{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(10, 127, 137, 0.7),rgba(6, 14, 49, 0.7)), url('../img2/cont.jpg');
    background-size: cover; 
    background-position: center; 
    position: relative;
}


.Gallery{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(10, 127, 137, 0.7),rgba(6, 14, 49, 0.7)), url('../img2/about.jpg');
    background-size: cover; 
    background-position: center; 
    position: relative;
}

.facilities-col{
    flex-basis: 100%;
    border-radius: 100vh;
    margin-bottom: 5%;
    text-align: center;
}

.facilities-col img{
    width: 80%;
    border-radius: 1px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-image:linear-gradient(rgba(10, 127, 137, 0.7),rgba(6, 14, 49, 0.7)), url('../img2/gal.jpg');
 color: #fff;
    }

